<% layout("/layouts/boilerplate") %>

    <body>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
        <div class="page-404">
            <div class="row">
                <div class="outer">
                    <div class="middle">
                        <div class="inner">
                            <!--BEGIN CONTENT-->
                            <div class="inner-circle"><span>404</span></div>
                            <span class="inner-status">Opps! Page not found.!</span>
                            <span class="inner-detail">Unfortunately we're having trouble loading the page .</span>
                            <!--END CONTENT-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>